{% extends 'base.html' %}

{% block title %}
todo
{% endblock %}
{% block body %}
<!-- Main Content -->
<div class="container my-5">
    <h1 class="text-center mb-4">My To-Do List({{ todos.count }})</h1>
    <table class="table table-hover">
      <thead class="thead-light">
     
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Due Date</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for todo in todos %}
      <tbody>
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{todo.task}}</td>
          <td>{{todo.created_at}}</td>
          <td >
            <a href="{% url 'mark_complete' todo.id %}" class="btn btn-outline-sm btn-outline-success">Mark completed</a>

          </td>
          <td>
            <a href="{% url 'update_todo' todo.id %}"class="btn btn-sm btn-warning">Update</a>
            <a href="{% url 'delete_todo' todo.id %}" class="btn btn-sm btn-danger">Delete</a>
            
          </td>
        </tr>
        <tr>
      </tbody>
      {% endfor %}

    </table>
    <a class="btn btn-primary btn-lg" href="{% url 'add' %}">Add Task</a>
  </div>


{% endblock %}
